<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название Фирмы</title>
    <link rel="stylesheet" href="Partners.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo">
                <img src="./../img/logo.png" alt="">
                <h1>Название aирмы</h1>
            </div>
            <div class="header-phone"><span>8 (383) 218-40-20</span>
                <div>
                    <a href="" class="phone-call">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-wrapper">
        <div class="nav-bar">
            <a href="./../../index.html" class="nav-bar-item">
                <img src="./../../components/img/home.png" alt="">
            </a>
            <a href="./About.html" class="nav-bar-item">О компании</a>
            <a href="./../products/products.html" class="nav-bar-item">Каталог</a>
            <a href="./Partners.html" class="nav-bar-item">Партнеры</a>
            <a href="" class="nav-bar-item">Контакты</a>
        </div>
    </div>
    <div class="side-bar">
        <a href="./../../index.html">
            Домой
        </a>
        <a href="">
            Партнеры
        </a>
    </div>
    <h2 style="font-size: 35px; text-align: center;">Наши партнеры</h2>
    <div class="partners-wrapper">
        <div class="partner-element" style="background-image: url(./../img/p1.png)">
        <a href=""></a>
        <span class="partner-info"><strong>Roto</strong>, фурнитура для окон</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p2.png)">
        <a href="" ></a>
        <span class="partner-info"><strong>Alutech</strong>, алюминиевый профиль</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p3.jpg)">
        <a href=""></a>
        <span class="partner-info">«Сибирская стекольная компания», стеклопакеты</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p4.png)">
        <a href=""></a>
        <span class="partner-info"><strong>Schuco</strong>, алюминевый профиль</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p5.jpg)">
        <a href="" ></a>
        <span class="partner-info"><strong>Veka</strong>, ПВХ профиль</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p6.png)">
        <a href="" ></a>
        <span class="partner-info"><strong>STiS</strong>, стеклопакеты</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p7.png)">
        <a href=""></a>
        <span class="partner-info">«БФК-Экструзия»</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p8.png)">
        <a href=""></a>
        <span class="partner-info">«БФК-Экструзия»</span>
        </div>
        <div class="partner-element" style="background-image: url(./../img/p9.png)">
        <a href=""></a>
        <span class="partner-info"><strong>Solarex</strong>, стеклопакеты</span>
        </div>
    </div>
    <div class="footer-wrapper">
        <footer>

        </footer>
    </div>
</body>

</html>
<!-- изменить Название фирмы -->

