<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название Фирмы</title>
    <link rel="stylesheet" href="products.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo">
                <img src="./../img/logo.png" alt="">
                <h1>Название фирмы</h1>
            </div>
            <div class="header-phone"><span>8 (383) 218-40-20</span>
                <div>
                <a href="" class="phone-call">Заказать звонок</a>
            </div></div>
        </div>
    </div>
    <div class="nav-bar-wrapper">
        <div class="nav-bar">
            <a href="./../../index.html" class="nav-bar-item">
                <img src="./../../components/img/home.png" alt="">
            </a>
            <a href="./../About/About.html" class="nav-bar-item">О компании</a>
            <a href="./products.html" class="nav-bar-item">Каталог</a>
            <a href="./../Partners/Partners.html" class="nav-bar-item">Партнеры</a>
            <a href="./../Contacts/Contacts.html" class="nav-bar-item">Контакты</a>
        </div>
    </div>
    <div class="side-bar">
        <a href="./../../index.html">
            Домой
        </a>
        <a href="">
            Каталог
        </a>
    </div>
    <h2 style="font-size: 35px; text-align: center;">Направления</h2>
    <div class="products-wrapper">
        <div class="product">
            <img src="./../../components/img/3.jpg" alt="">
            <h2>Двери</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>Компания Название фирмы проектирует и изготавливает любые двери. Комплексный подход и опыт гарантируют исполнение заказа точно в срок и по оптимальным ценам.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/4.png" alt="">
            <h2>Остекление коттеджей</h2>
            <div><a href=''>Узнать подробнее</a></div>
            <span>Реализация индивидуальных дизайнерских решений по созданию неповторимых aасадов и интерьеров вашего коттеджа или загородного дома.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/6.png" alt="">
            <h2>Подоконники</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>У нас вы сможете заказать высококачественные подоконники для квартиры или коттеджа. Воспользуйтесь конструктором, чтобы подобрать наиболее удачный вариант.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/7.png" alt="">
            <h2>Антимоскитные сетки</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>Москитная сетка — оптимальный способ борьбы с вредными насекомыми. Помимо этого, летом она защищает от тополиного пуха, а осенью от листопада, позволяя держать окна открытыми.
            </span>
        </div>
        <div class="product">
            <img src="./../../components/img/8.png" alt="">
            <h2>Дополнительная комплектация для пластиковых окон</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>Мы подробно расскажем вам о всех возможностях дополнительной комплектации пластиковых окон, а также поможем найти и реализовать подходящее и оптимальное решение.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/9.png" alt="">
            <h2>Компактная вентиляционная система</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>Компактная вентиляционная система обеспечит ваш дом чистым свежим воздухом и оградит от вредного воздействия окружающей среды.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/1.png" alt="">
            <h2>Пластиковые окна</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a><a href=''>На дачу</a></div>
            <span>Пластиковые окна стали символом уюта, тепла и эстетики. Компания Название фирмы производит пластиковые окна уже более 20 лет, являясь одним из признанных лидеров.</span>
        </div>
        <div class="product">
            <img src="./../../components/img/2.png" alt="">
            <h2>Балконы и лоджии</h2>
            <div><a href=''>В квартиру</a><a href=''>В коттедж</a></div>
            <span>Застекленный балкон станет помещением для комaортного времяпровождения в любое время года! А компания Название фирмы поможет подобрать подходящий проaиль, соответствующий стандартам качества!            </span>
        </div>
    </div>
    <footer class="footer-wrapper">
        наши соц сети:
        <a href="" style="background-image: url(./../img/f1.png)"></a>
        <a href="" style="background-image: url(./../img/f2.png)"></a>
        <a href="" style="background-image: url(./../img/f3.png)"></a>
        <a href="" style="background-image: url(./../img/f4.png)"></a>
        <a href="" style="background-image: url(./../img/f5.png)"></a>
    </footer>
</body>

</html>
<!-- изменить Название фирмы -->