body{
    margin: 0 auto;
    scroll-behavior: smooth;
}
/****Header section****/
.header-wrapper{
    margin: 0 auto;
    max-width: 65vw;
    max-height: 120px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.header-wrapper .logo{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.header-wrapper .logo h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
    letter-spacing: -2.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.header-wrapper .logo img{
    width: 60px;
    height: 60px;
}
.header-phone{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: end;
    align-items: center;
    padding-right: 100px;
}
.header-phone span{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: -2.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.header-phone .phone-call{
    position: relative;
    display: inline;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    letter-spacing: -2.2px;
    word-spacing: 1px;
    color: rgb(77, 133, 255);
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
.phone-call::before{
    position: absolute;
    left:-30px;
    content: "";
    min-width: 20px;
    min-height: 20px;
    background-image: url('./../../components/img/phone-icon.png');
    background-size: cover;
}
/****Nav section****/
.nav-bar-wrapper{
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.664);
}
.nav-bar{
    max-width: 600px;
    min-height: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: center;
}
.nav-bar-item{
    padding: 11px;
    color: white;
    text-decoration: none;
}
.nav-bar-item:hover{
    color: rgb(255, 140, 46);
    background-color: rgba(0, 0, 0, 0.548);
    transition: all .3s ease;
}
.nav-bar a:nth-child(5){
    background-color:  rgba(255, 140, 46, 0.76);
}
.nav-bar a:nth-child(5):hover{
    color: white;
    background-color:  rgba(255, 140, 46, 0.76);
}
/****SideNav section****/
.side-bar{
    max-width: 65vw;
    margin: 0 auto;
    padding: 20px 20px;
    max-height: 120px; 
}
.side-bar a{
    position: relative;
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.side-bar a:nth-child(2)::before{
    left: -8px;
    position: absolute;
    content: " - ";
}
.side-bar a:hover{
    color: rgb(255, 140, 46);
    transition: all .5s ease;
}
/****Contact Section***/
.Contacts-wrapper-main{
    max-width: 65vw;
    margin: 0 auto;
}
.Contacts-wrapper-main h2{
    color: rgba(255, 140, 46, 0.76);
}
.Contacts-wrapper{
    background-color: rgb(230, 230, 230);
}
.map{
    padding: 20px;
}
.dillers{
    padding: 20px;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 2fr;
    grid-template-rows: 1fr;
}
.dillers div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
}
.houm{
    position: relative;
    color: rgba(255, 127, 22, 0.911);
}
.houm::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 14px;
    height: 14px;
    margin: 2px 4px 0 0;
    background: url(./../img/sprite.png) 0 -179px no-repeat;
}
    table.iksweb{
        text-decoration: none;
        border-collapse:collapse;
        width:100%;text-align:center;
        padding: 20px 20px 100px 20px;
    }
.table-wrapper{
    padding: 20px;
}
	table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
	table.iksweb th{font-weight:normal;font-size:17px; color:#ffa200;background-color:#ffffff;}
	table.iksweb td{font-size:15px;color:#354251;}
	table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 10px;line-height:15px;vertical-align: middle;border: 1px solid #cfcfcf;}	table.iksweb tr:hover{background-color:#c4c4c4}
	table.iksweb tr:hover td{color:#18384f;cursor:default;}
/****Footer Section***/
.footer-wrapper{
    position: absolute;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.664);
    min-width: 99vw;
    left: 0;
}
