<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название Фирмы</title>
    <link rel="stylesheet" href="Contacts.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo">
                <img src="./../img/logo.png" alt="">
                <h1>Название фирмы</h1>
            </div>
            <div class="header-phone"><span>8 (383) 218-40-20</span>
                <div>
                    <a href="" class="phone-call">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-wrapper">
        <div class="nav-bar">
            <a href="./../../index.html" class="nav-bar-item">
                <img src="./../../components/img/home.png" alt="">
            </a>
            <a href="./About.html" class="nav-bar-item">О компании</a>
            <a href="./../products/products.html" class="nav-bar-item">Каталог</a>
            <a href="./../Partners/Partners.html" class="nav-bar-item">Партнеры</a>
            <a href="./Contacts.html" class="nav-bar-item">Контакты</a>
        </div>
    </div>
    <div class="side-bar">
        <a href="./../../index.html">
            Домой
        </a>
        <a href="">
            Партнеры
        </a>
    </div>
    <h2 style="font-size: 35px; text-align: center;">Контактная информация</h2>
    <div class="Contacts-wrapper-main">
        <h2>Окна в квартиру</h2>
        <div class="Contacts-wrapper">
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A009d9e4371733dde4a07cc738e16e940076fe2cf8949e6c4eea2e882fd2a4f33&amp;width=1177&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="dillers">
                <div>
                    <span class="houm">г. Омск, ул. Фабричная, д. 6</span>
                    <span class="transport">ост. транспорта «Автовокзал», «Сибревкома», «Речпорт»</span>
                    <span class="time-works">Пн. - Пт.: 9.00-21.00 <br>Сб. - Вс.: 10.00-16.00</span>
                    <a href='' class="mail">contact@mail.ru</a>
                </div>
                <div>
                    <span class="houm"> г. Омск, ул. Титова, д.22 / ул. Костычева, д. 10</span>
                    <span class="transport">ост. транспорта «площадь Станиславского», «Телецентр»</span>
                    <span class="time-works">Пн. - Пт.: 9.00-18.00<br>Cб.: 10.00-16.00 <br> Вс. - Выходной</span>
                    <a href='' class="mail">contact@mail.ru</a>
                </div>
            </div>
            <div class="table-wrapper">
                <table class="iksweb">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class="phone"><i></i><span>Номер телефона</span></th>
                            <th class="address"><i></i><span>Адрес</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="rajon" colspan="3">Железнодорожный район</td>
                        </tr>
                        <tr>
                            <td>«Сибмонтажсервис» ООО</td>
                            <td> (383) 217-22-73 <br> </td>
                            <td>Челюскинцев, 44/2 <br> </td>
                        </tr>
                        <tr>
                            <td class="rajon" colspan="3">Заельцовский район</td>
                        </tr>
                        <tr>
                            <td>ООО "АБК-Окна"</td>
                            <td>(383) 263-34-44 <br> </td>
                            <td>Красный проспект, 165 <br> </td>
                        </tr>
                        <tr>
                            <td>ООО "Новый город"</td>
                            <td>(383) 380-62-23 <br> </td>
                            <td>Нарымская, 37 <br> </td>
                        </tr>
                        <tr>
                            <td class="rajon" colspan="3">Калининский район</td>
                        </tr>
                        <tr>
                            <td>«Алюпласт» ООО</td>
                            <td>(383) 276-05-99, 276-44-11 <br> </td>
                            <td>Б.Хмельницкого, 14 <br> </td>
                        </tr>
                        <tr>
                            <td class="rajon" colspan="3">Дзержинский район</td>
                        </tr>
                        <tr>
                            <td>«Алюпласт» ООО</td>
                            <td>(383) 279-34-03 <br> </td>
                            <td>пр. Дзержинского, 7 <br> </td>
                        </tr>
                        <tr>
                            <td>ООО "Новый город"</td>
                            <td>(383) 214-75-49 <br> </td>
                            <td> Доватора, 31 А <br> </td>
                        </tr>
                        <tr>
                            <td class="rajon" colspan="3">Советсткий район</td>
                        </tr>
                        <tr>
                            <td>«Конструктив» ООО</td>
                            <td>(383) 332-11-39 <br>(383) 330-51-49 <br> </td>
                            <td>Арбузова, 10 <br>Морской проспект, 10 <br> </td>
                        </tr>
                        <tr>
                            <td class="rajon" colspan="3">Ленинский район</td>
                        </tr>
                        <tr>
                            <td>ООО "Новый город"</td>
                            <td>(383) 380-09-15 <br> </td>
                            <td>Широкая, 1а <br> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer-wrapper">
        <a href="" style="background-image: url(./../img/f1.png)"></a>
        <a href="" style="background-image: url(./../img/f2.png)"></a>
        <a href="" style="background-image: url(./../img/f3.png)"></a>
        <a href="" style="background-image: url(./../img/f4.png)"></a>
        <a href="" style="background-image: url(./../img/f5.png)"></a>
    </footer>
    </div>
</body>

</html>
<!-- изменить Название фирмы -->