<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название Фирмы</title>
    <link rel="stylesheet" href="About.css">
</head>

<body>
    <div class="header-wrapper">
        <div class="header">
            <div class="logo">
                <img src="./../img/logo.png" alt="">
                <h1>Название фирмы</h1>
            </div>
            <div class="header-phone"><span>8 (383) 218-40-20</span>
                <div>
                    <a href="" class="phone-call">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-bar-wrapper">
        <div class="nav-bar">
            <a href="./../../index.html" class="nav-bar-item">
                <img src="./../../components/img/home.png" alt="">
            </a>
            <a href="./About.html" class="nav-bar-item">О компании</a>
            <a href="./../products/products.html" class="nav-bar-item">Каталог</a>
            <a href="./../Partners/Partners.html" class="nav-bar-item">Партнеры</a>
            <a href="./../Contacts/Contacts.html" class="nav-bar-item">Контакты</a>
        </div>
    </div>
    <div class="side-bar">
        <a href="./../../index.html">
            Домой
        </a>
        <a href="">
            О компании
        </a>
    </div>
    <h2 style="font-size: 35px; text-align: center;">О холдинге</h2>
    <div class="about-info-wrapper">
        <div class="about-info">
            <div class="about-info-img">
                <img src="./../img/about-img.jpg" alt="">
            </div>
            <p>Начав свою деятельность в 1995 году со штатом сотрудников в 26 человек и производством, которое размещалось всего на 450 квадратных метрах, сегодня Название фирмы входит в тройку российских лидеров по объему производства, владеет тысячами квадратных метров производственных площадей и складских помещений, и штатом 2000 человек.</p>
            <p>Сегодня дилерами компании Название фирмы являются более 300 организаций из Омска, Томска, Кемерово, Барнаула, Иркутска, Владивостока, Южно-Сахалинска и ряда других городов Сибири и Дальнего Востока. В том числе и, благодаря дилерской сети, география поставок продукции Название фирмы охватывает значительную часть России, а также Украину и Казахстан. Наша дилерская сеть продолжает расти.</p>
            <p>Для Название фирмы краеугольный камень такой философии — взаимоотношения с клиентом и ответственность за качество своей продукции. Наша компания руководствуется этим на протяжении всего периода своего существования.</p>
            <div class="history-wrapper">
                <ul>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>В середине 90-х годов строительная отрасль была в упадке. Вложение денег в производство
                                пластиковых окон было рискованным предприятием, тем более, что про них в России знали
                                немногие. Но акционеры пошли на этот риск, и 4 октября 1995 года была создана компания
                                Название фирмы, которая занялась производством и установкой окон из пластикового профиля.</li>
                            <li>Изначально в компании работало всего 26 человек, объем выпуска продукции — 70 м² оконных
                                блоков в день.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Название фирмы преобразуется в Производственную Группу, у которой несколько направлений работы:
                                производство, установка, гарантийное и послегарантийное обслуживание оконных пластиковых
                                систем. Этот год проходил под флагом расширения и реструктуризации: появляется вторая
                                производственная линия и общая производительность увеличивается до 100 м². оконных
                                блоков в день. Появляется оборудование для сборки стеклопакетов производительностью 200
                                единиц в сутки. На предприятии работает уже 56 человек. В производстве пластиковых окон
                                начинает применяться двойной стеклопакет, который увеличивает теплоизоляцию.</li>
                            <li>В связи с ростом числа заказов, приобретается оборудование по производству собственных
                                пластиковых профилей — экструзии. На предприятии появилось новое производство
                                «Название фирмы-Экструзия».</li>
                            <li>В конце 1996 года организуется и еще одно новое подразделение — ООО «Название фирмы-Алюминий».</li>
                            <li>Компания руководствуется лозунгом: «Когда речь идет об окнах — мы предлагаем качество».
                            </li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Вслед за приобретением в 1996 году экструзионного оборудования, в Название фирмы создается
                                собственное конструкторское бюро, что стало следующим этапом развития промышленной
                                группы. Это позволяет разрабатывать и выпускать новое оборудование, инструменты и
                                изделия. Первой разработкой КБ стала трехкамерная оконная система Название фирмы-97, которая была в
                                3 раза дешевле импортных аналогов, ни в чем не уступая им по качеству.</li>
                            <li>Производительность увеличивается до 140 м². в день, а количество работающих до 100
                                человек.</li>
                            <li>Повышая качество обслуживания клиентов, компания Название фирмы организует специальное
                                подразделение, которое выполняет сервисное и гарантийное обслуживание клиентов.
                                Уверенность в высоком качестве изделий позволила Название фирмы установить гарантийный срок на свою
                                продукцию в 10 лет. Появляется новый лозунг, отражающий принципы работы компании: «Название фирмы».
                                Надежность. Сегодня и навсегда«.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>1998 год стал памятным для всей российской экономики. Несмотря на кризис, Название фирмы удалось не
                                только удержать свои завоевания, но и приобрести в собственность цех площадью 8000 м².
                                на заводе им. Кузьмина. Компания Название фирмы уже заняла прочные позиции на рынке. Предприятие
                                продолжает расти. Расширяется штат специалистов, внедряются изобретения и инновации, так
                                применение большего количества запирающих элементов в фурнитуре, позволило повысить
                                герметичность окна на 20%.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Производительность цеха ПВХ-окон в 1999 году увеличивается до 180 м² в смену, а
                                количество сотрудников увеличилось до 115 человек.</li>
                            <li>Конструкторское бюро Название фирмы, используя уникальное программное обеспечение, разрабатывает
                                техническую документацию и конструкторские чертежи для изготовления фильер, которые
                                применяются для производства разнообразных профильно-погонажных изделий. Таким образом,
                                были созданы:</li>
                            <li>
                                <ul>
                                    <li>пятикамерная профильная оконная система серии МТ;</li>
                                    <li>уголки для внутренней и внешней отделки оконных конструкций;</li>
                                    <li>система стартовых профилей для монтажа оконных откосов;</li>
                                    <li>подоконники.</li>
                                </ul>
                            </li>
                            <li>Заслуги компании были отмечены дипломом Всероссийского конкурса на лучшее предприятие
                                строительной отрасли II степени.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>2000 год ознаменовался новым этапом модернизации. Осваиваются новые производственные
                                площади на территории завода имени Кузьмина. Объемы выпуска продукции увеличиваются до
                                240 м² в сутки. Значимым событием становится организация службы контроля качества
                                производства.</li>
                            <li>У Название фирмы стали появляться заказчики из других городов Сибири. Начинает развиваться
                                региональная дилерская сеть от Урала до Сахалина.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>В 2001 году компания Название фирмы выводит на рынок собственные разработки — пятикамерную систему
                                Ecological Systems Extra и подоконник.</li>
                            <li>Количество сотрудников в компании увеличивается до 230 человек.</li>
                            <li>Появляется производственная линия в Красноярске производительностью 70 м². готовых
                                изделий в день.</li>
                            <li>В производство оконных блоков вводится использование пенополиуретанового уплотнителя
                                вместо каучукового, эта инновация дает повышение герметичности окна в условиях низких
                                температур.</li>
                            <li>Разработано уникальное учебно-методическое пособие по монтажу окон для
                                проектно-монтажных организаций.</li>
                            <li>25 сентября 2001 года на Берлинской конференции «Инвестиции в России» по отчету
                                INTERACTIVE RESEARCH GROUP производственная группа Название фирмы была названа в числе наиболее
                                динамично развивающихся предприятий России наряду с ОАО МК Шатура, концерном «Калина»,
                                предприятием «Gloria Jeans» и др. А в России Название фирмы вручают золотую медаль Сибирской
                                ярмарки «СтройСиб 2001».</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>В 2002 продолжается рост компании. Качество продукции и высокий уровень сервиса
                                позволяют выходить на всё более широкий круг потребителей. Открывается собственная
                                испытательная лаборатория. По результатам испытаний окна компании Название фирмы соответствуют
                                высшему классу А.</li>
                            <li>Внедрение контроля качества позволяет компании Название фирмы давать трехлетнюю гарантию на
                                монтажные работы.</li>
                            <li>Высокий уровень качества продукции Название фирмы отмечается золотой медалью Сибирской Ярмарки
                                «Стройсиб 2002».</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Внедряется серия новых технологий. Использование в стеклопакете дистанционной рамки из
                                ПВХ вместо алюминиевой, позволяет на 7% улучшить теплозащитные характеристики
                                стеклопакета. Применение теплового экрана позволяет производить монтаж оконных
                                конструкций даже в условиях сильного мороза, при этом в помещении практически не
                                понижается температура.</li>
                            <li>«Название фирмы-Экструзия» переориентируется на производство околооконных профилей.</li>
                            <li>Достижения компании отмечаются вручением диплома «Омская марка», а компания TBM
                                (крупнейший поставщик фурнитуры и материалов для монтажа пластиковых окон) награждает
                                производственную группу Название фирмы за самый большой объем закупок в регионе.</li>
                            <li>В традицию вошли благотворительные акции: помощь детским учреждениям, инвалидам. У Название фирмы
                                два подшефных учреждения — социально-реабилитационный центр Железнодорожного района
                                города Омска и Ояшенский дом для детей инвалидов.</li>
                            <li>Философия компании фокусируется в лозунге «Лидерство — это ответственность».</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>В 2004 году была освоена еще одна производственная площадка на территории завода
                                «Сибтекстильмаш». Специалисты «Название фирмы-Экструзия» первыми в России успешно начали выпуск и
                                использование дистанционной рамки из ПВХ для решения проблемы «краевых зон». По объемам
                                и уровню развития производства Название фирмы входит в число десяти ведущих компаний России в своей
                                отрасли.</li>
                            <li>По итогам 2004 года компания «Название фирмы-Алюминий» увеличивает объем производства, по сравнению
                                с 2003 годом, более чем на 40%. Сдано сразу несколько крупных объектов: Банк «Акцепт»,
                                Бизнес центр на Инской, галерея Фестиваль и др.</li>
                            <li>География поставок продукции Название фирмы охватывает значительную часть территории России, а
                                также Украину и Казахстан. В 2004 году Название фирмы и дилеры компании увеличивают срок гарантии
                                на монтажные работы до 10 лет.</li>
                            <li>В июле этого же года начался процесс внедрения новейшей компьютерной программы, которая
                                позволяет мгновенно находить всю информацию по работе с клиентом, начиная с первого
                                звонка и заканчивая гарантийным и послегарантийным обслуживанием, а также в режиме
                                реального времени получать от заказчика оценку деятельности фирмы и вносить необходимые
                                коррективы в работу.</li>
                            <li>Предприятие награждается Золотой статуэткой «ГЕММА» и Дипломом Межрегионального конкурса
                                «Лучшие товары и услуги Сибири. ГЕММА-2004» за высокое качество оказываемых услуг.
                                Директор ЗАО Название фирмы М.А.Якубенко стал лауреатом награды «За успешное развитие бизнеса в
                                Сибири». Компания получает официальный статус «Надежный партнер».</li>
                            <li>ЗАО Название фирмы удостоено диплома и благодарственного письма мэра г. Омска в конкурсе
                                «Социальная ответственность бизнеса».</li>
                            <li>Общественный благотворительный фонд «Меценаты столетия» наградил Название фирмы «Золотой грамотой
                                мецената».</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Производственная группа Название фирмы объединяет четыре компаний, в штате которых работает более
                                1200 человек, высококвалифицированного персонала. Производственные площади занимают
                                более 20 000 м²етров. Компания полностью перешла на автоматизированное производство.
                                Бурно развивается дилерская сеть.</li>
                            <li>Очередной новацией компании становятся применяемые в ЗАО Название фирмы узлы монтажа с системой
                                дополнительных профилей. Проектные решения этих узлов монтажа впервые в России
                                сертифицированы на соответствие требованиям ГОСТ 30971-2002 и СНиП 23-02-2003. Все это
                                позволило улучшить теплотехнику окна. На Всероссийском конкурсе на лучшую конструкцию
                                окна «Золотая рама» в номинации «Оригинальное техническое решение монтажного узла»
                                компания Название фирмы становится победителем.</li>
                            <li>В 2005 году была произведена реконструкция и переезд на новые производственные площади
                                предприятия «Название фирмы-Экструзии», которые составили 11 000 м². Одновременно был увеличен
                                вдвое станочный парк.</li>
                            <li>Основным событием года для «Название фирмы Алюминий» становится получение патента на изобретение
                                новой системы структурного остекления. Система выгодно отличается от существующих
                                сокращением сроков проектирования, расчета стоимости и монтажа объектов, упрощением
                                процесса сборки конструкции при сохранении прочностных характеристик изделия,
                                удешевлением конструкции. Данную технологию предприятие активно продвигает на рынке
                                светопрозрачных конструкций города Омска и в регионах.</li>
                            <li>«Название фирмы-Енисей» — отмечает свое пятилетие. Как одно из самых динамично развивающихся
                                предприятий «Название фирмы- Енисей» занимает лидирующие позиции среди производителей пластиковых
                                окон Красноярского края. Компания выходит на производительность в 11 000. м² готовых
                                окон ПВХ в месяц. В связи с растущими объемами производственные площади расширяются до
                                9000 м²етров.</li>
                            <li>Продукция компании Название фирмы представлена на выставке «СТРОЙСИБ-2005 г». ПГ Название фирмы признана
                                Лучшим предприятием стройиндустрии 2004 года и отмечена медалью и дипломом Администрации
                                Омской области.</li>
                            <li>Остается неизменным один из основных постулатов компании — забота о потребителях,
                                высокий уровень обслуживания клиентов и ответственность за качество своей продукции.
                            </li>
                            <li>В октябре 2005 года отмечается 10-летний юбилей предприятия.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Расширение партнерской сети компании Название фирмы. Количество специалистов, работающих в ПГ Название фирмы,
                                увеличивается до 1500 человек.</li>
                            <li>Для всех сотрудников компании прописываются стандарты, выполнение которых — залог того,
                                что каждый клиент Название фирмы получает продукцию и услуги высокого качества.</li>
                            <li>Работа компании характеризуется емкой фразой — «Чтобы мир стал удобным».</li>
                            <li>Название фирмы сегодня — это две производственные площадки по производству окон — в Омске и
                                Красноярске. Общая площадь производственных площадей более 17000 м² (не считая
                                экструзионного предприятия). Производственные мощности после последней модернизации
                                составляют более 70000 м². изделий из ПВХ в месяц. Это один из лучших в стране
                                показателей. В компании работает более 1600 сотрудников. Объем производства окон за
                                последние 5 лет увеличился в 5,5 раз и превысил в 2006 г. 340 000 м².</li>
                            <li>2006 год для компании Название фирмы-Эструзии ознаменовался выводом на рынок 5 новых видов
                                профилей.</li>
                            <li>Все технологии, разработанные Название фирмы, содержат в себе элемент новизны —использование при
                                производстве окон дистанционной рамки из ПВХ, оригинальное техническое решение
                                монтажного узла, позволяющее повысить гарантийный срок эксплуатации окна — все это
                                закрепило за предприятием статус инновационного. Продукция компании Название фирмы позволяет
                                реконструировать застройки прошлых лет и планировать создание новых зданий и целых
                                кварталов с современным дизайном и высокой энергоэффективностью.</li>
                            <li>Также компания освоила собственное производство алюминиевых жалюзи и рулонных штор.
                                Алюминиевые жалюзи Isolite спроектированы специально для крепления непосредственно на
                                ПВХ окна, при закрытии их ламели собираются в «пакет» наверху. Они легко монтируются на
                                окно вплотную к стеклопакету, не занимая при этом дополнительную площадь подоконника и
                                не препятствуя открыванию створки. Новая система рулонных штор Rollite легко монтируется
                                на пластиковое, алюминиевое или деревянное окно европейского стандарта. Это шторы из
                                тканого полотна, которые, поднимаясь, скручиваются в рулон.</li>
                            <li>В ноябре 2006 года ЗАО Название фирмы получила свидетельство на товарный знак («Название фирмы пластиковые
                                окна» с фирменной сине-оранжевой символикой) в Федеральной службе по интеллектуальной
                                собственности. Это позволило закрепить за компанией ее фирменный знак и присекать факты
                                его незаконного использования.</li>
                            <li>ЗАО Название фирмы было отмечено дипломом «Народное признание» и золотой медалью конкурса «Лучшие
                                товары и услуги Сибири ГЕММА-2006».</li>
                            <li>За высокие производственные показатели предприятие Название фирмы занесено на Доску почета г.
                                Омска.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Название фирмы — один из признанных лидеров российского рынка светопрозрачных конструкций. Высокое
                                качество комплектующих, сборки и сервиса, автоматизация процессов, внедрение
                                инновационных продуктов и технологий — главные слагаемые долгосрочного успеха компании.
                            </li>
                            <li>В части нового строительства в 2007 году доля Название фирмы в Омске составила 25%, в
                                Красноярске — около 20%. В регионах только начали выход в этот сегмент. Цель — те же
                                25%. На рынке реконструкции доля Название фирмы в Омске и Красноярске составила около 30%. В
                                целом объем производства по ПВХ-окнам увеличился с 335 тыс.м². в 2006 г. до 446 тыс.м².
                                в 2007 г.</li>
                            <li>Наши производственные мощности на сегодняшний день составляют около 100 000 м².
                                конструкций из ПВХ (не считая алюминия) в месяц — более чем достаточно, чтобы ежедневно
                                остеклять нескольких многоэтажек. За два месяца работы компания способна закрыть годовую
                                потребность в оконных конструкциях жилых новостроек таких городов как Омск, Омск
                                или Красноярск.</li>
                            <li>В 2007 году, предприятия Производственной Группы Название фирмы объединила под своим началом
                                Управляющая Компания Название фирмы. На нее возложены функции стратегического управления брендом,
                                координация деятельности всех производственных площадок компании, реализация единой
                                политики на уровне всего бизнеса компании.</li>
                            <li>Название фирмы-Экструзия, основанная в 1997 году как предприятие производитель отделочных
                                материалов из жесткого ПВХ, отметило свое 10-летие. На сегодняшний день предприятие
                                перерабатывает более 8000 тонн ПВХ-композиций в год. Продолжается работа над
                                формированием полной линейки продуктов для монтажа и отделки оконных и дверных проемов.
                            </li>
                            <li>В области маркетинга ужесточение конкуренции диктует новые подходы. в 2007 году было
                                выделено два новых направления. Название фирмы-Эксперт фокусируется на комплексном обслуживании
                                строительных и девелоперских компаний. К высокому качеству и точным срокам производства
                                больших объемов работ, мы добавляем возможность для заказчиков получить из одних рук
                                весь спектр услуг по остеклению окон, лоджий, входных групп, фасадов, крыш, устройству
                                внутренних перегородок, межкомнатных дверей. И этот список услуг будет расширяться.
                                Направление Название фирмы-Персона начинает целевым образом заниматься обслуживанием перспективного
                                рынка малоэтажного строительства. Современные технологии светопрозрачных конструкций
                                позволяют осуществить практически любые фантазии архитекторов, дизайнеров и владельцев
                                загородных домов. Мы в полной мере обладаем этими возможностями, и хотим, чтобы с нами
                                было удобно и приятно реализовывать эти фантазии на практике.</li>
                            <li>2007 год — это год решительного выхода компании в регионы. А также новый этап в
                                повышении качества и сервиса наших услуг. Весной филиалы компании появились в городах:
                                Томск, Кемерово, Новокузнецк, Абакан и Омск. В значимых городах были организованы склады
                                (логистические центры) готовых изделий и дополнительной комплектации.</li>
                            <li>Компания не останавливается на достигнутом и развивается дальше, оперативно реагируя на
                                тенденции рынка светопрозрачных конструкций.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Развитие отдела корпоративных продаж в регионах.</li>
                            <li>Осенью 2008 года холдингом был выпущен двух миллионный м² продукции. К цифре в 1 миллион
                                компания шла 12 лет, а 2 миллиона достигли за 2 года. Название фирмы — первая по объемам
                                производственных мощностей компания в России.</li>
                            <li>Название фирмы-Экструзия выпустила эксклюзивный продукт — двери из вспененного ПВХ «AquaDoor.»</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>По итогам второй недели международного строительного форума «СтройСиб 2009», прошедшей с
                                17 по 20 февраля, межкомнатные двери «AquaDoor» были отмечены малой Золотой медалью.
                            </li>
                            <li>В кризисный год рынку были предложены специальные продукты, ориентированные на клиентов
                                с низкой платежеспособностью: Сибмастер (4-х камерное окно) и Народное окно (3-х
                                камерное).</li>
                            <li>Мощности производственных площадок в Омске и Красноярске практически сравнялись и
                                составляют в совокупности 1 млн. м² в год. Таким образом, в настоящее время Название фирмы — первая
                                по объемам производства компания в России.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Основным событием года становится 15-летний юбилей компании, который был ознаменован
                                рядом праздничных мероприятий, памятными подарками для клиентов, партнеров и сотрудников
                                компании.</li>
                            <li>Компания Название фирмы занимает первое место в рейтинге крупнейших компаний рынка пластиковых окон
                                по объемам выпускаемой продукции (по данным ИЦ «Современные Строительные Конструкции»).
                            </li>
                            <li>Название фирмы-Эксперт закончил работы по остеклению гостиничного комплекса Double Tree By Hilton с
                                общей площадью остекления более 5000 кв. м. Специалистами компании были разработаны
                                технические решения сложных узлов фасадов зданий гостиницы и бизнес-центра, выбран
                                оптимальный вариант остекления с самыми высокими показателями светопропускания и
                                энергоэффективности.</li>
                            <li>Предприятия производственной группы в течение года получили ряд наград. Так, Название фирмы-Эксперт
                                был отмечен Почетной грамотой Администрации Омской области. Компания Название фирмы стала
                                победителем конкурса «Лучшее предприятие стройиндустрии» «Омская марка», а
                                «Название фирмы-Экструзия» одержала безоговорочную победу в межрегиональном конкурсе «Лучшие товары
                                и услуги — ГЕММА».</li>
                            <li>Компания Название фирмы приняла активное участие в областной программе «Школьное окно»,
                                инициированной Правительством Омской области. В результате была осуществлена
                                замена окон в 9 школах в г. Омске и по Омской области.</li>
                            <li>В г. Кемерово состоялось открытие второго торгово-выставочного зала компании Название фирмы по
                                адресу б-р Строителей, 22. Теперь жителям Ленинского района будет удобно прийти в офис,
                                чтобы познакомиться с обширным ассортиментом продукции компании и воспользоваться
                                выгодными предложениями.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Широкий ассортимент продукции компании Название фирмы пополнился рядом новинок, которые помогут
                                сделать дом комфортным и безопасным:</li>
                            <li>
                                <ul>
                                    <li>ролетные антимоскитные сетки (удобно «прячутся» в короб, расположенный над
                                        окном, не требуют демонтажа системы в зимний период);</li>
                                    <li>противовзломная фурнитура с противоходом (позволит значительно увеличить время
                                        проникновения и станет непреодолимым препятствием для грабителя);</li>
                                    <li>фурнитура ROTO Komfort (его ручка расположена внизу на горизонтальной части
                                        створки, поэтому достать ее можно даже сидя);</li>
                                    <li>подъемно-раздвижные двери VEKASLIDE (обладают превосходной тепло-и
                                        звукоизоляцией, благодаря плотному запиранию, значительно экономят место в
                                        помещении).</li>
                                </ul>
                            </li>
                            <li>Компанией Название фирмы проведена реконструкция концертного зала Омской филармонии, за что
                                специалисты компании были награждены почетной грамотой министерства строительства Омской
                                области.</li>
                            <li>Компания Название фирмы стала финалистом конкурса «HR-бренд 2011». По словам организаторов
                                конкурса, наша компания просто «ворвалась» в финал, учитывая статус и масштаб остальных
                                корпораций-участников: Adidas Group, Coca Cola и др.</li>
                            <li>В очередной раз компания Название фирмы стала лауреатом премии «Омская марка».</li>
                            <li>В начале года было принято решение о расширении производственных помещений и увеличении
                                станочного парка на Омском оконном производстве ориентировочно на 35%. Новый цех
                                компании заработал уже в мае.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>Первый юбилей — 5 лет успешной работы — отметили филиалы компании Название фирмы в городах Омск,
                                Томск, Кемерово и Новокузнецк. За эти годы были выполнены работы на многих интересных
                                объектах, формирующих облик СФО. И лучшим подарком к юбилею стало открытие нового
                                фирменного торгового зала компании Название фирмы в Омске на проспекте К. Маркса, а также
                                региональных складов в Барнауле и Иркутске, которые позволили оптимизировать
                                логистические процессы и расширить границы географического присутствия компании Название фирмы.
                            </li>
                            <li>Компания Название фирмы представила очередные новинки:</li>
                            <li>
                                <ul>
                                    <li>Нордмастер-дизайн (пластиковое окно с алюминиевыми накладками, которые придают
                                        окну дополнительную эстетику и позволяют защитить его от внешнего воздействия,
                                        тем самым увеличивая его срок службы);</li>
                                    <li>энергоэффективное окно GROSSMASTER из многокамерного профиля VEKA SOFTLINE 82
                                        (настоящий «гость из будущего», потому что при его создании руководствовались
                                        теми нормами по теплотехнике, которые вступят в действие в Европе в 2015 году).
                                    </li>
                                </ul>
                            </li>
                            <li>Произведены инвестиции в расширение мощностей красноярского оконного производства.</li>
                            <li>Компания Название фирмы стала победителем всероссийского конкурса «100 лучших предприятий России» в
                                номинации «Лучшее предприятие стройиндустрии», а также руководитель и специалисты
                                компании были награждены юбилейными медалями «За вклад в развитие Омской области»
                                в честь 75-летия области.</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li> Подразделение холдинга Название фирмы-Экструзия в 2013 году начала поставку своей продукции в
                                Европу.</li>
                            <li> Открыт филиал компании в г. Барнаул. Также компания Название фирмы выходит на международный
                                уровень – открыт первый филиал в Казахстане, в г. Усть-Каменогорск.</li>
                            <li> В г. Омск после реконструкции открыт новый торговый зал фирменной сети компании
                                Название фирмы, расположенный на ул. Фабричной, 6. Торговый зал полностью соответствует современным
                                европейским требованиям, оснащен всеми необходимыми ресурсами.</li>
                            <li> В линейке продукции компании Название фирмы появляется инновационный продукт – компактные
                                вентиляционные системы, которые имеют инновационную систему фильтров, за счет чего
                                обеспечивают постоянное поступление свежего воздуха. очищенного от вредных примесей
                                окружающей среды.</li>
                            <li> Руководство холдинга приняло решение о консолидации ресурсов Название фирмы и Название фирмы-Енисей под общим
                                руководством Управляющей компании. Название фирмы-Енисей и ранее входила в состав холдинга, однако
                                имела собственную структуру управления.</li>
                            <p>За 2013 г. компанией получены следующие награды:</p>
                            <li>Дипломант конкурса «Лучший бренд Омской области» - «За целенаправленную политику
                                по созданию и совершенствованию бренда, неизменно высокое качество продукции и услуг, за
                                формирование потребительской культуры и повышение конкурентоспособности»;</li>
                            <li>Специальный приз «Золотое окно-2013»;</li>
                            <li>Победитель конкурса «Омская марка-2013»;</li>
                            <li>Лауреат премии «European Standard»;</li>
                            <li>Лауреат XVIII Конкурса «За успешное развитие бизнеса в Сибири» по итогам 2013 года;</li>
                            <li>Благодарственное письмо от Губернатора Красноярского края «За активное участие во
                                Всероссийском Конкурсе «100 лучших товаров России» и производство продукции высокого
                                качества».</li>
                            <li>Генеральный директор холдинга награжден знаком «За труд на благо города»</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <li>В линейке продукции холдинга появился ряд высокотехнологичных, даже уникальных,
                                продуктов, отвечающим всем нормам и требованиям современного дизайна. Появились такие
                                новинки, как мансардные окна, дерево-алюминиевые окна, а также алюминиевые конструкции
                                из анодированного профиля, а в топовом продукте – оконной системе Grossmaster – с 2014
                                года в базовую комплектацию включено мультифункциональное стекло.</li>
                            <li>В г. Тюмень открыт региональный склад компании, обеспечивающий потребности
                                корпоративного направления, активно развивающегося в данном регионе, и перспективного
                                дилерского сегмента.</li>
                            <li>В г. Красноярск проведена реконструкция торгового зала фирменной сети компании Название фирмы,
                                расположенного на ул. 78 Добровольческой бригады, 14а. Теперь торговый зал полностью
                                соответствует современным европейским требованиям, оснащен всеми необходимыми ресурсами
                                и выставочными образцами продукции.</li>
                            <li>Открытие обновленного торгового зала в г. Томск. Теперь торговый зал встречает своих
                                гостей контрастными синими линиями, яркими логотипами Название фирмы и уютным освещением, а также
                                европейским дизайном.</li>
                            <li>Значимое событие в компании «Название фирмы-Экструзия» - открытие нового логистического центра в
                                Омске, который представляет собой 6 000 кв. м закрытых теплых складских помещений
                                и 6 000 кв. м открытых площадей. Кроме того, открыт новый магазин «Название фирмы-Экструзия» под
                                брендом «Самоделкин».</li>
                            <p>Награды компании:</p>
                            <li>Благодарственное письмо от Губернатора Красноярского края «За активное участие во
                                Всероссийском Конкурсе «100 лучших товаров России» и производство продукции высокого
                                качества»;</li>
                            <li>Компания Название фирмы вошла в число лидеров «Книги рейтингов» журнала «Деловой квартал»;</li>
                            <li>Компания Название фирмы вошла в ТОП-100 крупнейших компаний области;</li>
                            <li>Неоднократный лидер рейтинга ТОП-20 по качеству телефонных продаж среди российских
                                оконных компаний, составленного порталом ОКНА-Медиа;</li>
                            <li>Омский филиал награжден дипломом «Миссия – социальная ответственность»;</li>
                            <li>Лауреат конкурса «Омская марка-2014».</li>
                        </ul>
                    </li>
                    <h2 class="count"></h2>
                    <li>
                        <ul>
                            <p>Для холдинга Название фирмы 2015 год ознаменован серьезной датой – двадцатым, юбилейным Днем
                                рождения компании. И за 20 лет своей деятельности при непрерывном развитии компания Название фирмы
                                из небольшого оконного производства выросла в мощный холдинг, который на конец 2015 года
                                располагает тысячами квадратных метров производственных и складских площадей,
                                собственным экструзионным производством, филиалами и региональными складами более чем в
                                10 городах России и ближнего зарубежья, а дилерская сеть компании насчитывает более 300
                                партнеров. То есть география присутствия Название фирмы охватывает значительные территории по всей
                                стране и ближнему зарубежью: от Норильска – на севере, до Казахстана – на юге; от Урала
                                – на западе, до Якутии – на востоке.</p>
                            <li>В производство и продажу выпущены сразу две собственных разработки холдинга Название фирмы –
                                стеновой вентиляционный клапан, а такжеинновационные межкомнатные двери AquaDoor Zargo
                                от Название фирмы-Экструзия, уже получившие восторженные отзывы от своих обладателей. Также в
                                продуктовой линейке компании в числе новинок представлены уникальные по своим
                                характеристикам экологичные алюмо-деревянные окна от компании Reynaers – давнего
                                партнера холдинга Название фирмы.</li>
                            <li>В мае состоялся торжественный переезд офиса Название фирмы-Экструзия в новый
                                производственно-логистический комплекс Название фирмы на ОбьГЭС. В результате, клиенты компании
                                теперь смогут получить полный спектр услуг в одном месте – начиная от консультации
                                специалиста и заключения договора, заканчивая отгрузкой продукции на складе.</li>
                            <li>В декабре ближе к центру города переехал торговый зал фирменной сети компании Название фирмы в
                                Томске.</li>
                            <li>Проведена работа по модернизации сайта компании, в результате которой навигация стала
                                максимально удобной для его посетителей, которые буквально за два клика смогут получить
                                самую полную информацию о предлагаемых продуктах и услугах холдинга Название фирмы.</li>
                            <li>Для Название фирмы-Эксперт год стал особенно богат на знаковые для города, области, и даже для
                                страны объекты (НГУ, Дворец бракосочетаний Омска, строящийся в Омске
                                аквапарк – «Кварсис Аквамир», а также ряд жилых домов, отличающихся своими масштабами,
                                архитектурой и дизайнерским исполнением не только в Омске, но и филиалах
                                компании.</li>
                            <li>В числе заслуг Название фирмы-Персона не только настоящие шедевры дизайна и архитектуры частных
                                домовладений, но и комплексная работа по остеклению целых коттеджных поселков, таких как
                                «Березки-Озерный» и «Березки-Новолуговое», работы по остеклению домов которых уже
                                завершены, а также начало монтажных работ на новом объекте – ЖСК «Веста», в непрерывном
                                тесном сотрудничестве с которым Название фирмы-Персона входит в новый 2016 год.</li>
                            <p>Награды холдинга:</p>
                            <li>обладатель премии "Золотое окно-2014";</li>
                            <li>победитель конкурса Министерства строительства Омской области в номинации «Лучшее
                                предприятие строительных материалов в Омской области 2014 года»;</li>
                            <li>победа в ежегодном конкурсе «За успешное развитие бизнеса в Сибири»;</li>
                            <li>именные дипломы «За успешное управление бизнесом в Сибири» и сертификат, подтверждающий
                                официальный статус организации-победителя ООО «Название фирмы» - «Надежный партнер», были вручены
                                Генеральному директору ООО УК «Название фирмы» Якубенко Максиму Александровичу и Исполнительному
                                директору ООО «Название фирмы» Деверову Александру Викторовичу;</li>
                            <li>холдинг Название фирмы включен в число лидеров промышленного роста 2015 г. в одноименном каталоге,
                                выпущенном ГУП НСО «Омский областной фонд поддержки малого и среднего
                                предпринимательства» в рамках исполнения контракта с Минторгом НСО;</li>
                            <li>золотая медаль международного конкурса «Лучшие товары и услуги - GEMMA».</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <footer>

        </footer>
    </div>
</body>

</html>
<!-- изменить Название фирмы -->

